page-message {
    div.spinner {
        text-align: center;
    }
    .itemspinner{
        width: 50px !important;
        height: 50px !important;
        vertical-align: middle;
        margin-top:50px;
    }

}
