page-auction-contact {
    .center-image{
        margin:0 auto;
        max-width: 80px !important;
        max-height: 80px !important;
    }
    .label_padding{
        margin: 12px 17px 13px 0;
    }

    .center{
        text-align: center;
    }

    div.spinner {
        text-align: center;
    }
    .itemspinner{
        width: 50px !important;
        height: 50px !important;
        vertical-align: middle;
        margin-top:50px;
    }
}
